dataset_raw/
dataset_final/
font_inspection/
new_env/
checkpoints/
character_sheets/
debug_crops/
handwritten_dataset/
figures/


__pycache__/
*.pyc
*.pyo
*.pyd

*.csv
*.npy
*.npz
*.h5
*.pkl

*.pdf
*.json

.vscode/

.DS_Store
Thumbs.db

*.pt
*.pth
*.model

