dataset_raw/
dataset_final/
font_inspection/
new_env/
character_sheets/
debug_crops/
handwritten_dataset/
google_vision_fallback.py


__pycache__/
*.pyc
*.pyo
*.pyd

*.npy
*.npz
*.h5
*.pkl

*.pdf

.vscode/

.DS_Store
Thumbs.db

*.pt
*.model

